body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#nightModeToggle {
    margin-right: 10px;
    cursor: pointer;
}

#addressForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#address {
    flex-grow: 1;
    padding: 5px;
}

#submitBtn {
    padding: 5px 10px;
    margin-left: 5px;
}

#loadingIcon {
    display: none;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#priceForm {
    display: flex;
    justify-content: flex-left;
    margin-bottom: 20px;
}

#priceForm label {
    margin-right: 10px;
}

.night-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.night-mode th {
    background-color: #333333;
    color: #ffffff;
}




